.sort-header {
    cursor: pointer;
}
.sort-header:after {
    font-family: FontAwesome;
    content: '  \f0dc';
    color: lightgrey;
}
.st-sort-ascent:before {
    content: '';
}
.st-sort-ascent:after {
    font-family: FontAwesome;
    content: '\f062';
    color: black;
}
.st-sort-descent:before {
    content: '';
}
.st-sort-descent:after{
    font-family: FontAwesome;
    content: '\f063';
    color: black;
}

.table-sm th,
.table-sm td {
    padding: .3rem !important;
}

.table tbody>tr>td.middle-align {
    vertical-align: middle;
}

.btn, .input-group-btn .btn .btn-action-grid {
    margin: 3px 1px;
}

.table tbody>tr.selected {
    background-color: #80CBC4;
}