.drop-box {
    border: dashed 3px lightgrey;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
    cursor: pointer;
}

.drop-box:hover {
    border: dashed 3px #AB47BC;
}

.dragover {
    border: 5px dashed blue;
}

.thumb {
    width: 100px;
    height: 100px;
    float: none;
    position: relative;
    top: 7px;
    background: red;
}

.attachment-img-drop-box {
    border: dashed 3px lightgrey;
    padding: 30px 10px 30px 10px;
    margin-bottom: 10px;
}

.attachment-img-drop-box:hover {
    border: dashed 3px #AB47BC;
}

.attachment-img-drop-box > div > div > span.attachment-item-container {
    margin-top: 40px;
    margin-left: 10px;
    cursor: pointer;
    color: #AB47BC;
}

.attachment-img-drop-box > div > div > span > a.attachment-item.deleted {
    color: grey;
    text-decoration: line-through;
}

.attachment-img-drop-box > div > div > span > a.attachment-item-btn-delete {
    margin-left: -15px;
}
