body, html {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body > .layout {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    height:100%;
}

/* Contenido */

body > .layout > .contenido > .mat-toolbar {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
}

body > .layout > .contenido > .mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
    font: 500 20px/32px Roboto,Helvetica Neue,sans-serif;
    margin: 0;
}

body > .layout > .contenido > .mat-toolbar.mat-primary {
    background: #4992de;
    color: #fff;
    /*position: absolute;*/
}

body > .layout > .contenido > .main-header {
    padding: 0 8px;
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    z-index: 1;
}

body > .layout > .contenido > .mat-toolbar > .mat-toolbar-layout > .mat-toolbar-row {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

body > .layout > .contenido > .mat-toolbar > .mat-toolbar-layout > .mat-toolbar-row > div {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    white-space: nowrap;
    width: 50%;
}

body > .layout > .contenido > .mat-toolbar > .mat-toolbar-layout > .mat-toolbar-row > div.row-direction {
    flex-direction: row;
}

body > .layout > .contenido > .mat-toolbar > .mat-toolbar-layout > .mat-toolbar-row > div.row-reverse-direction {
    flex-direction: row-reverse;
}

body > .layout > .contenido > .mat-toolbar > .mat-toolbar-layout > .mat-toolbar-row .btn .material-icons {
    font-size: 24px;
}

/* Contenido de paginas */

body > .layout > .contenido {
    flex-grow: 1;
    overflow: auto;
}

body > .layout > .contenido > .plantillas {
    margin: 5px;
    /*padding-top: 60px;*/
}

/* Menu */

body > .layout > .menu {
    width: 240px;
    background-color: #4992de;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12) !important;
}

.app-inner {
    position: relative;
    width: 100%;
    max-width: 103%;
    /*height: calc(100vh - 64px);*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.mat-sidenav-container {
    position: relative;
    transform: translate3d(0,0,0);
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    display: block;
    /* overflow: hidden; */
}

.mat-sidenav-content {
    position: relative;
    display: block;
    height: 100%;
    min-height: 100%;
    padding: .33333333rem;
    -ms-touch-action: auto;
    -ms-overflow-style: none;
    /*padding-top: 60px;*/
}

.mat-sidenav-transition .mat-sidenav-content {
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.25,.8,.25,1);
    transition-property: transform,margin-left,margin-right;
}

.background-none {
    background-color: transparent!important;
}

.shadow-none {
    box-shadow: none!important;
}

.mat-sidenav, .mat-sidenav.mat-sidenav-push {
    background-color: #4992de;
}

.mat-sidenav {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    min-width: 5vw;
    outline: 0;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    color: rgba(0,0,0,.87);
}

div.sidebar-panel {
    overflow-x: hidden;
    width: 15rem;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12) !important;
}

.mat-sidenav.mat-sidenav-opened, .mat-sidenav.mat-sidenav-opening {
    transform: translate3d(0,0,0);
}

.mat-sidenav.mat-sidenav-side {
    z-index: 1;
}

.mat-sidenav-transition .mat-sidenav {
    transition: transform .4s cubic-bezier(.25,.8,.25,1);
}

.mat-list, .mat-nav-list {
    padding-top: 8px;
    display: block;
}
div.sidebar-panel .mat-list-item {
    background-color: transparent;
    transition: background-color .3s cubic-bezier(.35,0,.25,1);
}

.mat-list .mat-list-item, .mat-nav-list .mat-list-item {
    display: block;
}

.mat-nav-list .mat-list-item {
    outline: none;
}

.mat-list .mat-list-item, .mat-nav-list .mat-list-item {
    color: #fff;
}

.mat-list .mat-list-item, .mat-nav-list .mat-list-item {
    font-size: 16px;
}

.mat-list-item, .mat-tooltip {
    font-family: Roboto,Helvetica Neue,sans-serif;
}

div.sidebar-panel .mat-list-item .mat-list-item-content {
    display: block;
    height: auto;
    max-height: 48px;
    overflow: hidden;
    padding: 0;
    transition: max-height .3s cubic-bezier(.35,0,.25,1);
}

.mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 48px;
    padding: 0 16px;
    position: relative;
}

.mat-nav-list .mat-list-item-content {
    cursor: pointer;
}

div a[md-list-item] .mat-list-item-content, div div .mat-list-item-content, div a[md-list-item] .mat-list-item-content, div div .mat-list-item-content {
    font-size: .875rem!important;
}

.mat-list-item, .mat-tooltip {
    font-family: Roboto,Helvetica Neue,sans-serif;
}

.mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
}

div.sidebar-panel .navigation a div:not(.menu-caret) {
    margin-right: 24px;
}


div.sidebar-panel .navigation a.btn {
    background-color: transparent;
}


div.sidebar-panel .mat-nav-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    color: #fff;
    font-size: 15px;
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-weight: 400;
}

div.sidebar-panel .navigation .menu-caret {
    display: inline-block;
    transition: -webkit-transform .3s cubic-bezier(.7,0,.3,1);
    transition: transform .3s cubic-bezier(.7,0,.3,1);
    transition: transform .3s cubic-bezier(.7,0,.3,1),-webkit-transform .3s cubic-bezier(.7,0,.3,1);
    float: right;
    margin-left: .3125rem;
    text-align: center;
}

div.sidebar-panel .mat-list-item.open>.mat-list-item-content {
    max-height: 2000px;
    /* background: rgba(0,0,0,.04); */
}

div.sidebar-panel .navigation .open>.mat-list-item-content>.sub-menu {
    max-height: 2000px;
}

div.sidebar-panel .sub-menu {
    padding-top: 0;
    overflow: hidden;
    transition: .5s cubic-bezier(.35,0,.25,1);
    transition-property: max-height;
    max-height: 0;
}

.mat-list, .mat-nav-list, .mat-selection-list {
    padding-top: 8px;
    display: block;
}

.mat-nav-list .mat-list-item.mat-list-item-focus, .mat-nav-list .mat-list-item:hover {
    background: rgba(0,0,0,.04);
}

.mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item {
    display: block;
}

div.sidebar-panel .sub-menu a {
    padding-left: 64px;
}
