a.td-more-info {
    font-weight: 900;
    cursor: pointer;
}

.radio label {
    color: #AAAAAA;
}

.main-card {
    margin-top: 0px;
}

.card-without-margin-bottom {
    margin-bottom: 0px;
}

.table-responsive.more-actions {
    overflow-x: visible;
    overflow-y: visible;
}

.action-group .btn {
    padding: inherit;
}

#loading-bar .bar {
    background: white;
    height: 2px;
}

#loading-bar-spinner .spinner-icon {
    border: solid 2px transparent;
    border-top-color: white;
    border-left-color: white;
}

.form-group.with-error .form-control {
    box-shadow: none;
}
.form-group.with-error.is-focused .form-control {
    background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2);
}
.form-group.with-error .form-control {
    background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px, 100% 1px;
}
.form-group.with-error label.control-label,
.form-group.with-error .help-block {
    color: #f44336;
}
.with-error .form-control-feedback {
    color: #f44336;
    opacity: 1;
}

.form-group.label-floating.is-not-empty label.control-label {
    top: -28px;
    left: 0;
    font-size: 11px;
    line-height: 1.0714285718;
}

.nex-btn-add {
    position: absolute !important;
    right: 21px;
    top: 5px;
}

.nex-content {
    background: #fff;
    position: relative;
    margin-bottom: 1rem;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

/*.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: inherit;
    background-color: transparent;
    border-bottom: solid #009688;
}

.nav-pills>li>a {
    color: gray;
    border-radius: 0px;
    background-color: transparent;
}*/

.main-section {
    background-color: #FAFAFA;
}

.simple-tab-section {
    color: gray;
    background-color: white;
    border-bottom: solid 1px lightgrey;
    border-radius: 0px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.input-grid {
    text-align: right;
    width: 50px;
    height: 22px;
}

select.select-grid {
    text-align: right;
    width: 50px;
    height: 22px;
}

/* tabs */

/* Tabs panel */
.tabbable-panel {
    border:1px solid #eee;
    padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}
.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373 !important;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6 !important;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #B2DFDB;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6 !important;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #009688;
    position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333 !important;
}
.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040 !important;
}
.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #009688;
}
.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.sync-alert {
    -webkit-animation: 2s animateBorder ease infinite;
    -moz-animation: 2s animateBorder ease infinite;
    animation: 2s animateBorder ease infinite;
}

@keyframes animateBorder {
    to {
        -webkit-box-shadow: inset 0px 0px 25px -6px rgba(255,0,0,0.63);
        -moz-box-shadow: inset 0px 0px 25px -6px rgba(255,0,0,0.63);
        box-shadow: inset 0px 0px 25px -6px rgba(255,0,0,0.63);
    }
}

.btn-sync-alert {
    -webkit-animation: 2s animateBorderBtn ease infinite;
    -moz-animation: 2s animateBorderBtn ease infinite;
    animation: 2s animateBorderBtn ease infinite;
}

@keyframes animateBorderBtn {
    to {
        -webkit-box-shadow: inset 0px 0px 216px -59px rgba(255,0,0,0.63);
        -moz-box-shadow: inset 0px 0px 216px -59px rgba(255,0,0,0.63);
        box-shadow: inset 0px 0px 216px -59px rgba(255,0,0,0.63);
    }
}

/* PDF Viewer */
.pdf-container {
    margin: 0;
    width: 100%;
    background-color: #404040;
    background-image: url(images/texture.png);
}

.btn-action-card {
    margin: 0;
    padding: 5px;
}

.btn-action-card .material-icons {
    font-size: 25px;
}

.card-title {
    font-weight: 500;
}

.main-card {
    position: absolute;
    margin-bottom: 0;
    left: 0;
    right: 0;
}
.table.table-ellipsis tbody td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table.table-ellipsis tbody td:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}
.input-group {
    width: 100%;
}
.input-group-addon.fa.fa-calendar {
    font-size: initial;
    margin-left: -38px;
    margin-bottom: 12px;
    position: absolute;
    right: 0;
}
.input-group-addon.fa.fa-calendar.en-modal {
    font-size: initial;
    position: absolute;
    top: 5px;
    right: 0;
}
.button {
    cursor: pointer;
}
.button:hover{
    background: aliceblue;
    border-radius: 11px;
}
.btn.btn-fab.nex-btn-add{
    height: 40px;
    min-width: 40px;
    width: 40px;
}
.table{
    font-size: 12px;
}
.td-actions {
    white-space: nowrap;
}
