.selectize-control.single, .selectize-control.multi {
    padding: 0;
}
.selectize-control.single .selectize-input, .selectize-control.single .selectize-input.input-active, .selectize-control.multi .selectize-input, .selectize-control.multi .selectize-input.input-active {
    cursor: text;
    background: transparent;
    box-shadow: none;
    border: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
    line-height: 30px;
}
.selectize-control.single .selectize-input .has-items, .selectize-control.single .selectize-input.input-active .has-items, .selectize-control.multi .selectize-input .has-items, .selectize-control.multi .selectize-input.input-active .has-items {
    padding: 0;
}
.selectize-control.single .selectize-input:not(.has-items):after, .selectize-control.single .selectize-input:not(.has-items).input-active:after, .selectize-control.multi .selectize-input:not(.has-items):after, .selectize-control:not(.has-items).multi .selectize-input:not(.has-items).input-active:after {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 0;
    height: 0;
    margin-top: -7px;
    border-color: #808080 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    content: ' ';
}
.selectize-control.single .selectize-input input, .selectize-control.single .selectize-input.input-active input, .selectize-control.multi .selectize-input input, .selectize-control.multi .selectize-input.input-active input {
    font-size: 14px;
    outline: 0;
    border: 0;
    background: transparent;
}
.selectize-control.single .selectize-input.label-floating-fix input, .selectize-control.single .selectize-input.input-active.label-floating-fix input, .selectize-control.multi .selectize-input.label-floating-fix input, .selectize-control.multi .selectize-input.input-active.label-floating-fix input {
    opacity: 0;
}
.selectize-control.single .selectize-input > div, .selectize-control.single .selectize-input > .item, .selectize-control.single .selectize-input.input-active > div, .selectize-control.single .selectize-input.input-active > .item, .selectize-control.multi .selectize-input > div, .selectize-control.multi .selectize-input > .item, .selectize-control.multi .selectize-input.input-active > div, .selectize-control.multi .selectize-input.input-active > .item {
    display: inline-block;
    margin: 0 8px 3px 0;
    padding: 0;
    background: transparent;
    border: 0;
}
.selectize-control.single .selectize-input > div:after, .selectize-control.single .selectize-input > .item:after, .selectize-control.single .selectize-input.input-active > div:after, .selectize-control.single .selectize-input.input-active > .item:after, .selectize-control.multi .selectize-input > div:after, .selectize-control.multi .selectize-input > .item:after, .selectize-control.multi .selectize-input.input-active > div:after, .selectize-control.multi .selectize-input.input-active > .item:after {
    content: ",";
}
.selectize-control.single .selectize-input > div:last-of-type:after, .selectize-control.single .selectize-input > .item:last-of-type:after, .selectize-control.single .selectize-input.input-active > div:last-of-type:after, .selectize-control.single .selectize-input.input-active > .item:last-of-type:after, .selectize-control.multi .selectize-input > div:last-of-type:after, .selectize-control.multi .selectize-input > .item:last-of-type:after, .selectize-control.multi .selectize-input.input-active > div:last-of-type:after, .selectize-control.multi .selectize-input.input-active > .item:last-of-type:after {
    content: "";
}
.selectize-control.single .selectize-input > div.active, .selectize-control.single .selectize-input > .item.active, .selectize-control.single .selectize-input.input-active > div.active, .selectize-control.single .selectize-input.input-active > .item.active, .selectize-control.multi .selectize-input > div.active, .selectize-control.multi .selectize-input > .item.active, .selectize-control.multi .selectize-input.input-active > div.active, .selectize-control.multi .selectize-input.input-active > .item.active {
    font-weight: bold;
    background: transparent;
    border: 0;
}
.selectize-control.single .selectize-dropdown, .selectize-control.multi .selectize-dropdown {
    position: absolute;
    z-index: 1000;
    border: 0;
    width: 100% !important;
    left: 0 !important;
    height: auto;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    padding: 0;
    margin-top: 3px;
}
.selectize-control.single .selectize-dropdown .active, .selectize-control.multi .selectize-dropdown .active {
    background-color: inherit;
}
.selectize-control.single .selectize-dropdown .highlight, .selectize-control.multi .selectize-dropdown .highlight {
    background-color: #E0F7FA;
}
.selectize-control.single .selectize-dropdown .selected, .selectize-control.multi .selectize-dropdown .selected {
    background-color: #EEEEEE;
}
.selectize-control.single .selectize-dropdown .active, .selectize-control.multi .selectize-dropdown .active {
    background-color: #B3E5FC;
}
.selectize-control.single .selectize-dropdown [data-selectable], .selectize-control.single .selectize-dropdown .optgroup-header, .selectize-control.multi .selectize-dropdown [data-selectable], .selectize-control.multi .selectize-dropdown .optgroup-header {
    padding: 5px 10px;
    cursor: pointer;
}
.selectize-control.single .selectize-dropdown [data-selectable] {
    font-size: 12px;
}
.selectize-control.single .dropdown-active ~ .selectize-dropdown, .selectize-control.multi .dropdown-active ~ .selectize-dropdown {
    display: block;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup {
    border-right: 1px solid #f2f2f2;
    border-top: 0 none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
    border-right: 0 none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
    display: none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
    border-top: 0 none;
}
.selectize-dropdown .optgroup-header {
    padding: 5px 8px;
}
.selectize-dropdown .optgroup:first-child .optgroup-header {
    border-top: 0 none;
}
.selectize-dropdown .optgroup-header {
    color: #303030;
    background: #ffffff;
    cursor: default;
}

.selectize-control.multi {
    height: auto;
}

.selectize-control.single .selectize-input {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.form-group.disabled > .selectize-control {
    background-image: none;
    border-bottom: 1px dotted #D2D2D2;
}

.form-group.disabled > .selectize-control > .selectize-input {
    cursor: no-drop;
}

.form-group > .form-group {
    margin: 0;
    padding: 0;
}
