.main-module-list {
    margin-bottom: 10px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
}

.main-module-list[aria-expanded=true] .mdi-chevron-down{
    display: none;
}

.main-module-list[aria-expanded=false] .mdi-chevron-up{
    display: none;
}

.sub-module-list {
    margin-bottom: 10px;
    font-weight: 300;
    z-index: 2;
}

.sub-module-list.with-border{
    border-bottom: 1px solid #ddd;
}

.sub-module-list-toggle {
    font-weight: 400;
}

.sub-module-list-toggle .mdi-chevron-down, .sub-module-list-toggle .mdi-chevron-right{
    position: absolute;
}

.sub-module-list-toggle span{
    margin-left: 29px;
}

.sub-module-list-toggle[aria-expanded=true] .mdi-chevron-down{
    display: none;
}

.sub-module-list-toggle[aria-expanded=false] .mdi-chevron-right{
    display: none;
}

.under-sub-module-list {
    padding-left: 29px;
    z-index: 3;
}

.under-sub-module-list label{
    font-size: 14px;
    font-weight: 100;
    color: black;
}

.under-sub-module-list .checkbox-text {
    vertical-align: middle;
}

.module-list-icon {
    float: right; margin-top: -15px;
}
